@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TTTrailers;
  font-display: swap;
  src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
  margin: 70px 0 60px 0;
}

.title_promo {
  font-size: 42px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}

.title_subtitle {
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}

.title_consultation {
  max-width: 790px;
  font-size: 36px;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 20px 0;
  color: #FFFFFF;
}

.title_catalog {
  font-weight: 400;
}

.feed-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  gap: 11px;
}

.feed-form input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4B4B4B;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  outline: none;
}

.feed-form_mt25 {
  margin-top: 25px;
}

.no-webp .promo {
  background: url("../img/1_promo/bg_main.jpg") center center/cover no-repeat; }

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}

.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 426px;
  margin-top: 60px;
}

.promo__icon {
  width: 110px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.promo__icon img {
  display: block;
  margin: 0 auto 20px;
}

.promo__link {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 18px;
}

.promo__link a {
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo__link a:hover {
  color: #f85b5b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__official {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}

.header__official span {
  display: block;
  font-size: 18px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 7px;
}

.header__phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__phone:hover {
  color: #f85b5b;
}

.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background: #C70101;
  border: none;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button_main {
  width: 303px;
  height: 54px;
  margin-top: 65px;
}

.button_main a {
  font-size: 16px;
}

.button_submit {
  width: 100%;
  height: 58px;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 6px;
}

.button:hover {
  background: #f85b5b;
}

.benefits {
  min-height: 430px;
  padding: 0 0 40px 0;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.benefits__item {
  max-width: 277px;
  min-width: 230px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.benefits__item img {
  display: block;
  margin: 0 auto;
}

.benefits__item-animated {
  -webkit-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.benefits__item-animated:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.benefits__item h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #0D0D0D;
  text-align: center;
  margin: 35px 0 20px 0;
}

.benefits__item a {
  color: #FF0000;
}

.benefits__item a:hover {
  color: #f85b5b;
}

.no-webp .consultation {
  background: url("../img/3_consultation/bg_consultation.jpg") center center/cover no-repeat; }

.consultation {
  min-height: 540px;
  padding: 100px 15px 92px 15px;
}

.consultation__descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
}

.carousel {
  max-height: 740px;
  padding: 5% 0;
}

.carousel__slider {
  max-width: 900px;
  position: relative;
}

.carousel__wrapper {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__slide {
  min-height: 300px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.carousel__slide img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .swiper-button-prev::after,
.carousel .swiper-button-next::after {
  display: none;
}

.carousel .swiper-button-prev {
  width: 30px;
  height: 50px;
  z-index: 100;
  cursor: pointer;
}

.carousel .swiper-button-next {
  position: absolute;
  z-index: 10;
}

.carousel .swiper-pagination {
  display: none;
}

.catalog {
  min-height: 800px;
}

.catalog__tabs {
  margin-top: 7px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__tab {
  width: 222px;
  height: 52px;
  border: 2px solid #D0D0D0;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #6B6B6B;
  margin: 0 5px;
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog__tab:hover {
  -webkit-box-shadow: 1px 1px 20px #f85b5b;
          box-shadow: 1px 1px 20px #f85b5b;
  border: none;
}

.catalog__tab div {
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg);
}

.catalog__tab_active {
  color: #ffffff;
  background-color: #fa3e3e;
  border: none;
}

.catalog__content {
  display: none;
}

.catalog__content_active {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.catalog-item {
  width: 260px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 220px;
}

.catalog-item__subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #0D0D0D;
}

.catalog-item__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #0D0D0D;
  margin-top: 15px;
}

.catalog-item__link {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #C70101;
  margin-top: 17px;
}

.catalog-item__link:hover {
  color: #f85b5b;
}

.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
      -ms-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  color: #C70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}

.catalog-item__back:hover {
  color: #f85b5b;
}

.catalog-item hr {
  border-bottom: none;
  margin-top: 19px;
  margin-bottom: 21px;
  background: #E8E8E8;
}

.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-item__old-price {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #555555;
}

.catalog-item__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #050505;
  margin-top: 5px;
}

.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}

.catalog-item__content {
  width: 50%;
  margin-right: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__content_active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}

.catalog-item__list {
  position: relative;
  width: 50%;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__list li {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  margin-bottom: 20px;
  padding-left: 28px;
}

.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fa3e3e;
  top: 7px;
  left: 14px;
}

.catalog-item__list_active {
  margin-left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.catalog-item__btn {
  width: 135px;
  height: 44px;
  background: #C70101;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.reviews {
  min-height: 920px;
  padding: 0 0 48px 0;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.reviews__avatar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 169px;
  height: 169px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__avatar img {
  width: 100%;
}

.reviews__content {
  padding-right: 30px;
  color: #0D0D0D;
}

.reviews__content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
}

.reviews__content h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #646464;
}

.reviews__content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  position: relative;
  height: 630px;
}

.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 460px;
  height: 270px;
  background: #C70101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__address {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}

.footer__phone {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__phone:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
  margin-bottom: 56px;
}

.footer__social-item {
  width: 52px;
}

.footer__social-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 40px;
  z-index: 100;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 40px;
  line-height: 21px;
  color: #C70101;
  cursor: pointer;
}

.modal__subtitle {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  color: #0D0D0D;
}

.modal__descr {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #0D0D0D;
  margin-top: 10px;
}

.modal_mini {
  height: 140px;
}

#consultation,
#order,
#thanks {
  display: none;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}

.pageup img {
  width: 100%;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 992px) {
  .carousel .swiper-button-prev,
  .carousel .swiper-button-next {
    display: none;
  }

  .carousel .swiper-pagination {
    display: block;
    position: relative;
    margin-top: 10px;
  }

  .carousel .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #C70101;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .title_promo {
    font-size: 32px;
  }

  .title_subtitle {
    font-size: 18px;
  }

  .title_consultation {
    max-width: 650px;
    font-size: 26px;
  }

  .title_reviews {
    margin: 40px 0 30px 0;
  }

  .promo__wrapper {
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .reviews__avatar {
    display: block;
    margin: 0 auto;
  }

  .reviews__content {
    padding-right: 0;
  }

  .reviews__content h3 {
    font-size: 16px;
  }

  .reviews__content h4 {
    font-size: 12px;
  }

  .reviews__content p {
    font-size: 14px;
    line-height: 1.2;
  }

  .footer {
    height: 400px;
  }

  .footer__info {
    width: 250px;
    height: 170px;
  }

  .footer__address {
    margin-top: 10px;
    font-size: 14px;
  }

  .footer__phone {
    font-size: 14px;
  }

  .footer__social {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .benefits__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .benefits__item {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  .overlay .modal {
    width: 270px;
    min-height: 350px;
    padding: 10px;
  }

  .overlay .modal .feed-form_overlay input {
    width: 90%;
  }

  .overlay .modal .feed-form_overlay .button_submit {
    width: 90%;
  }

  .overlay .modal__close {
    top: -30px;
    right: 5px;
    font-size: 40px;
    line-height: 21px;
  }
}

@media (max-width: 480px) {
  .title {
    text-align: center;
  }

  .title_subtitle {
    margin-top: 10px;
  }

  .feed-form {
    max-width: 300px;
  }

  .feed-form input {
    width: 90%;
    padding: 0 8px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    text-align: center;
  }

  .promo__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

  .button_main {
    width: 260px;
  }

  .button_submit {
    width: 90%;
  }

  .benefits .title {
    font-size: 26px;
    margin: 40px 0 30px 0;
  }

  .benefits__items {
    gap: 25px;
  }

  .benefits__item h6 {
    margin: 15px 0 15px 0;
  }

  .consultation {
    padding: 60px 0;
  }
}

.webp .promo { background: url(../img/1_promo/bg_main.webp) center center/cover no-repeat; }

.webp .consultation { background: url(../img/3_consultation/bg_consultation.webp) center center/cover no-repeat; }