.reviews {
  min-height: 920px;
  padding: 0 0 48px 0;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__item {
    display: flex;
    gap: 60px;
  }

  &__avatar {
    flex-shrink: 0;
    width: 169px;
    height: 169px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__content {
    padding-right: 30px;
    color: #0D0D0D;

    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      margin-top: 0;
    }

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #646464;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@media (max-width: 768px){
    .reviews{
      &__item{
        flex-direction: column;
        gap: 20px;
      }
      &__avatar{
        display: block;
        margin: 0 auto;
      }
      &__content{
        padding-right: 0;
        h3{
          font-size: 16px;
        }
        h4{
          font-size: 12px;
        }
        p{
          font-size: 14px;
          line-height: 1.2;
        }
      }
    }
}