@import "fonts";


body {
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;

}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  //background-color: #faab5f;
}

@import "veriables";
@import "title";
@import "forms";
@import "promo";
@import "header";
@import "button";
@import "benefits";
@import "consultation";
@import "carousel";
@import "catalog";
@import "reviews";
@import "footer";
@import "modal";
@import "pageup";
@import "animation";




